@media (min-width: 768px) {
    .header {
        height: 80px;
    }
}

.header {
    border-bottom: 1px solid #f2f2f2;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 6;
    background-color: #fff;
}

.container {
    margin: auto;
    padding: 0 20px;
}

.container--md {
    max-width: calc(1520px);
}

@media (min-width: 1200px) {
    .container {
        padding: 0 44.8px;
    }
}

.w--100 {
    width: 100% !important;
}

.row {
    flex-wrap: wrap;
    box-sizing: border-box;
    display: flex;
    margin: 0 -8px;
}

.middle-xs {
    align-items: center;
}

.is-flex.align-center {
    align-items: center;
}

.is-flex {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.header__logo {
    padding: 6px;
    /* background: rgba(0, 0, 0, 0.4); */
    border-radius: 50%;
}

.is-in-line-block {
    display: inline-block;
}

.search__wrapper {
    position: relative;
    display: inline-block;
    width: calc(100% - 70px);
    padding-left: 15px;
}

.app-header-search .search__wrapper {
    flex: 1 0 auto;
    padding-left: 0;
}

@media screen and (min-width: 1024px) {
    .app-header-search .search__wrapper {
        padding-left: 15px;
    }
}

.search-box {
    box-shadow: 1px 1px 4px rgb(0 0 0 /20%);
    border-radius: 5px;
    display: flex;
}

.is-relative {
    position: relative;
}

.search-field__wrap {
    display: flex;
}

.search-location {
    width: 300px;
    flex: 1 1 auto;
}

.booking__field {
    margin-top: 1rem;
    display: flex;
    align-items: flex-end;
    border: 1px solid #d6d6d6;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%);
    padding: 13px 10px 11px 16px;
    border-radius: 6px;
    background: #fff;
    font-weight: 400!important;
}

.search-location .booking__field:before {
    right: 0;
}

@media screen and (min-width: 1024px) {
    /* .search-guest .booking__field:before, .search-location .booking__field:before {
        content: "";
        position: absolute;
        width: 1px;
        height: 80%;
        top: 50%;
        background: #e7e7e7;
        transform: translateY(-50%);
    } */
}

.search-box .booking__field {
    border: none;
    background: none;
    border-radius: 6px;
    height: 27px;
    display: flex;
    align-items: center;
    padding: 0 16px;
}

.search-field__wrap .booking__field {
    padding: 10px 16px;
    box-sizing: content-box;
}

.booking__input {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.search-field__wrap .booking__input-text {
    font-size: 14px;
}

.search-box input {
    background: transparent;
}

.booking__input-text {
    border: 0;
    box-shadow: none;
    padding: 0;
    font-size: 16px;
    height: auto;
    line-height: 1.5;
    border-radius: 0 !important;
}

.search-date {
    max-width: 160px;
    white-space: nowrap;
    width: 115px;
    border-left: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
}

.search-date .booking__field {
    display: flex;
    justify-content: center;
}

.search-box .booking__btn, .search-box .booking__field {
    margin-top: 0;
    box-shadow: none;
    align-self: center;
}

.date-search-button #trigger-date-range {
    border:none;
    padding: 0;
    font-weight: 700;
    font-size: 14px;
}

.search-guest {
    width: 115px;
}

.search-guest .booking__input {
    flex: 0 0 80%;
    max-width: 80%;
    font-weight: 700;
}

.search-box .booking__btn {
    padding: 0 21px;
    margin: 0 6.4px;
    height: 36px;
    border-radius: 5px;
}

.btn--secondary {
    background: #555;
}

.menu {
    list-style: none;
    left: 0;
}

.menu__item {
    margin-left: 20px;
    font-size: 14px;
    letter-spacing: 0.2px;
}

.d-inline-block {
    display: inline-block !important;
}

.is-become-host {
    font-weight: 700;
    position: relative;
    padding: 5px 10px;
}

.btn--dropdown {
    font-size: 14px;
    background: #f6f6f6;
    padding: 5px 28px 5px 5px;
    border-radius: 32px;
}
